<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="configFragment">

    <!-- 이 영역에 공통으로 사용할 css, js library를 선언한다. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="ko">

    <!-- Meta Tags for HTML pages on Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTTP-equiv Tags -->
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv='Cache-Control' content="no-cache">

    <!-- CSS -->
    <link rel="icon" href="#">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/loading_spinner.css}" rel="stylesheet">

    <!-- Script -->
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/util.js}"></script>
	
    <!-- Content Page의 CSS fragment 삽입 -->
    <th:block layout:fragment="css"></th:block>
    <!-- Content Page의 script fragment 삽입 -->
    <th:block layout:fragment="script"></th:block>

</th:block>
</html>
