<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
  <title>MAIN</title>

  <div class="container">
    <a style="margin:30px" class="btn btn-primary" th:href="@{/WA100}">list</a>
  </div>

</th:block>
</html>